.f-info {
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin: 0 0.5rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.f-info-links,
.f-info-socials,.f-info-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

